# Append GADM data

In [1]:
import pandas as pd
import geopandas as gp

In [2]:
# first download the geopackage from https://gadm.org/download_world.html or https://geodata.ucdavis.edu/gadm/gadm4.1/gadm_410-levels.zip
# then, run append_gadm.py (please first modify the path to your gadm data (gadm_410-levels.gpkg) accordingly in the script)

In [3]:
df = pd.read_csv('./sample_data/07_gadm.csv')
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2319 entries, 0 to 2318
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uuid         2319 non-null   object
 1   source       2319 non-null   object
 2   orig_id      2319 non-null   int64
 3   lat          2319 non-null   float64
 4   lon          2319 non-null   float64
 5   geometry     2319 non-null   object
 6   index_right  2319 non-null   int64
 7   GID_0        2319 non-null   object
 8   COUNTRY      2319 non-null   object
 9   CC_1         1725 non-null   float64
 10  ENGTYPE_1    2319 non-null   object
 11  GID_1        2319 non-null   object
 12  HASC_1       1725 non-null   object
 13  ISO_1        0 non-null      float64
 14  NAME_1       2319 non-null   object
 15  NL_NAME_1    0 non-null      float64
 16  TYPE_1       2319 non-null   object
 17  VARNAME_1    0 non-null      float64
 18  CC_2         1725 non-null   float64
 19  ENGTYPE_2    1725 non-null   object
 20  GID_2        1725 non-null   object
 21  HASC_2       1725 non-null   object
 22  NAME_2       1725 non-null   object
 23  NL_NAME_2    0 non-null      float64
 24  TYPE_2       1725 non-null   object
 25  VARNAME_2    0 non-null      float64
 26  CC_3         1725 non-null   float64
 27  ENGTYPE_3    1725 non-null   object
 28  GID_3        1725 non-null   object
 29  HASC_3       0 non-null      float64
 30  NAME_3       1725 non-null   object
 31  NL_NAME_3    0 non-null      float64
 32  TYPE_3       1725 non-null   object
 33  VARNAME_3    0 non-null      float64
 34  CC_4         1725 non-null   float64
 35  ENGTYPE_4    1725 non-null   object
 36  GID_4        1725 non-null   object
 37  NAME_4       1725 non-null   object
 38  TYPE_4       1725 non-null   object
 39  VARNAME_4    0 non-null      float64
 40  CC_5         0 non-null      float64
 41  ENGTYPE_5    0 non-null      float64
 42  GID_5        0 non-null      float64
 43  NAME_5       0 non-null      float64
 44  TYPE_5       0 non-null      float64
dtypes: float64(20), int64(2), object(23)
memory usage: 815.4+ KB

In [4]:
df = df.drop(columns=['lat', 'lon', 'geometry', 'index_right'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2319 entries, 0 to 2318
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uuid       2319 non-null   object
 1   source     2319 non-null   object
 2   orig_id    2319 non-null   int64
 3   GID_0      2319 non-null   object
 4   COUNTRY    2319 non-null   object
 5   CC_1       1725 non-null   float64
 6   ENGTYPE_1  2319 non-null   object
 7   GID_1      2319 non-null   object
 8   HASC_1     1725 non-null   object
 9   ISO_1      0 non-null      float64
 10  NAME_1     2319 non-null   object
 11  NL_NAME_1  0 non-null      float64
 12  TYPE_1     2319 non-null   object
 13  VARNAME_1  0 non-null      float64
 14  CC_2       1725 non-null   float64
 15  ENGTYPE_2  1725 non-null   object
 16  GID_2      1725 non-null   object
 17  HASC_2     1725 non-null   object
 18  NAME_2     1725 non-null   object
 19  NL_NAME_2  0 non-null      float64
 20  TYPE_2     1725 non-null   object
 21  VARNAME_2  0 non-null      float64
 22  CC_3       1725 non-null   float64
 23  ENGTYPE_3  1725 non-null   object
 24  GID_3      1725 non-null   object
 25  HASC_3     0 non-null      float64
 26  NAME_3     1725 non-null   object
 27  NL_NAME_3  0 non-null      float64
 28  TYPE_3     1725 non-null   object
 29  VARNAME_3  0 non-null      float64
 30  CC_4       1725 non-null   float64
 31  ENGTYPE_4  1725 non-null   object
 32  GID_4      1725 non-null   object
 33  NAME_4     1725 non-null   object
 34  TYPE_4     1725 non-null   object
 35  VARNAME_4  0 non-null      float64
 36  CC_5       0 non-null      float64
 37  ENGTYPE_5  0 non-null      float64
 38  GID_5      0 non-null      float64
 39  NAME_5     0 non-null      float64
 40  TYPE_5     0 non-null      float64
dtypes: float64(18), int64(1), object(22)
memory usage: 742.9+ KB

In [5]:
df.to_csv('./sample_data/08_gadm.csv', index=False)